version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit_message:
      prefix: "chore(deps): "
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    commit_message:
      prefix: "chore(deps): "